.scroll
{
     overflow-x:scroll;
     overflow-y:hidden;
}

.centrar{
    text-align: center;
}

.pt{
    padding-top: 20px;
}

.fondo2 {
    background-image: url(./niños2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
    width: 100%;
    opacity: 0.2;
    z-index: -1; 
}

.letra{
    font-family: 'Grandstander', cursive;
    font-size: 50px;
    color: #0D7A7C;
}

.letra1{
    font-family: 'Grandstander', cursive;
    font-size: 20px;
    color: #0D7A7C;
}

/*LE AGREGAMOS UNA CAPA A LA IMAGEN*/
/*.fondo2:before{
    content: "";
    width: 100%;
    background-color: rgb(211, 250, 213);
    position: absolute;
}*/

.plavied{

    font-family: 'Revalia', cursive ;
    font-size: 25px;
    color: #0D7A7C; 

}

div.plavied{
    font-family: 'Revalia', cursive ;
    font-size: 30px;
    color: #0D7A7C; 
}
.alinear{
    align-items: flex-end;
    margin-left: 2px;

}

div label input{
    padding: 4px;
    
    font-size-adjust: initial;
    font-size:14px;
    border-radius: 5px;
    
}
input{
    margin-inline-end: 0px;
}